@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f5 !important;
}

.p-50 {
    padding: 50px !important;
}

.fs-16 {
    font-size: 16px !important;
}

li {
    list-style: none;
}

.header-section {
    background-color: #2184f6 !important;
}

.logo img {
    width: 150px;
    padding: 20px;
}

.profile {
    align-self: start;
}

.cv {
    align-self: center;
    width: auto;
}


.login {
    position: relative;
    float: right;
}

.likes {
    display: flex;
    justify-content: space-between;
}

input {
    padding: 5px 10px 5px 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    border-color: transparent;
    background-color: #dbeafe;
    border-color: #dbeafe;
}

.card {
    position: static;
    display: block;
    height: auto;
    padding: 30px 30px 30px 100px;
    margin: 2rem 0rem;
    overflow: hidden;
    font-size: .8125rem;
    line-height: 1.4;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1.25rem !important;
}

.profile img {
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 4px;
}

.profile {
    background-color: #3b82f6;
    border-radius: 50%;
    position: relative;
    padding: 4px;
    width: 208px;
    width: auto;
}

.post-card {
    padding: 50px;
}

.post-card img {
    border-radius: 15px;
    margin-top: 10px;
}

.btn-like {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    color: #2184f6;
    font-weight: bold;
    margin-top: 10px;
}

.likes {
    font-size: 14px;
    padding: 10px;
}

.outer>* {
    display: inline-block;
    vertical-align: middle;
}

.follow {
    position: relative;
    float: right;
    top: 170px
}

.btn-follow {
    background-color: #3b82f6;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}
.btn-unfollow {
    background-color: #3b82f61a;
    color: #3b82f6;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}
.btn-coment{
    background-color: #3b82f6;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
}
ul {
    line-height: 25px;
}
.coment{
    background-color: #f4f4f5;
    border-color: #f4f4f5;
    width: 85%;
    padding: 10px 20px 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    border-color: transparent;
}
.btn-coment{
margin-left:10px
}
.btn-borrar{
    background-color: #f4f4f5;
    border-color: #f4f4f5;
    color: red;
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: bold;
}
#error-usuario, #comentario-vacio{
display:none; color:red;
}
.comment-form{
  margin-top: 20px;
}


@media (max-width: 767px) {
  
  .card{
    padding: 30px 30px 30px 70px;
  }
  .follow {
    top: 20px;
    margin-top: 10px;
    text-align: center;
  }
  .cv ul{
    padding-left: 0;
  }
  .cv h4{
    padding-left: 3rem;
  }
   
  .btn-like {
    font-size: 12px;
    padding: 5px 10px;;
  }
  .btn-coment{
    margin-top: 10px;
  }
  .login {
    float: none;
    margin: 10px;
  }
  .logo img{
    padding: 10px;

  }
  .card{
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .profile {
    align-self: center;
  }
  
  .cv {
    align-self: start;
    margin-top: 20px;
  }
  
 
  
  .post-card {
    padding: 20px;
  }
  
  .post-card img {
    margin-top: 5px;
    width: 100%;
  }
  
}